{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="row" id="editor">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {"attr": {
                            "placeholder": "在此輸入成員姓名",
                            "class": "form-control" }}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, {"attr": {
                            "placeholder": "在此輸入成員職稱",
                            "class": "form-control" }}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.officeNumber) }}
                        {{ form_widget(form.officeNumber, {"attr": {
                            "placeholder": "在此輸入成員辦公室電話(非必填)",
                            "class": "form-control" }}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.cellPhone) }}
                        {{ form_widget(form.cellPhone, {"attr": {
                            "placeholder": "在此輸入成員手機號碼(非必填)",
                            "class": "form-control" }}
                        ) }}
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                {{ form_label(form.avatar) }}
                                {{ form_widget(form.avatar, {"attr": {
                                    "class": "form-control" }}
                                ) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, {"attr": {
                                    "placeholder": "在此輸入成員電子郵件(非必填)",
                                    "class": "form-control" }}
                                ) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                {{ form_label(form.website) }}
                                {{ form_widget(form.website, {"attr": {
                                    "placeholder": "在此輸入成員個人網站網址(非必填)",
                                    "class": "form-control" }}
                                ) }}
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                {{ form_label(form.team) }}
                                {{ form_widget(form.team, {"attr": {
                                    "class": "form-control" }}
                                ) }}
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                {{ form_label(form.memberOrder) }}
                                {{ form_widget(form.memberOrder, {"attr": {
                                    "class": "form-control" }}
                                ) }}
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.submit, {"attr": {
                        "class": "btn btn-primary" }}
                    ) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}