{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="row" id="membersList">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">職稱</th>
                <th scope="col">辦公室電話</th>
                <th scope="col">電子信箱</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <th>{{ member.getName() }}</th>
                    <td>{{ member.getTitle() }}</td>
                    <td>{{ member.getOfficeNumber() }}</td>
                    <td>{{ member.getEmail() }}</td>
                    <td>
                        <a href="{{ path("admin.member.edit", {'id': member.getId()}) }}">
                            <button class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></button>
                        </a>
                        <a href="{{ path("admin.member.delete", {'id': member.getId()}) }}">
                            <button class="btn btn-danger btn-sm" v-on:click="onDelete"><i class="fa fa-trash"></i></button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var membersList = new Vue({
            el: "#membersList",
            methods: {
                onDelete: function(event) {
                    let result = confirm("請問確定要刪除這個成員嗎?");
                    if (!result) {
                        event.preventDefault();
                    }
                }
            }
        });
    </script>
{% endblock %}