<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin.index') }}">台中教育大學 資訊工程學系</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    文章
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.post.create') }}">新增文章</a>
                    <a class="dropdown-item" href="{{ path('admin.post.list') }}">管理所有文章</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin.category.create') }}">新增文章分類</a>
                    <a class="dropdown-item" href="{{ path('admin.category.list') }}">管理所有文章分類</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    靜態頁面
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.page.create') }}">新增頁面</a>
                    <a class="dropdown-item" href="{{ path('admin.page.list') }}">管理所有頁面</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    相簿
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.album.create') }}">新增相簿</a>
                    <a class="dropdown-item" href="{{ path('admin.album.list') }}">管理所有相簿</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    檔案庫
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.file.archive.create') }}">新增檔案庫</a>
                    <a class="dropdown-item" href="{{ path('admin.file.archive.listAll') }}">管理管理檔案庫</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    成員及團隊
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.member.add') }}">新增成員</a>
                    <a class="dropdown-item" href="{{ path('admin.member.list') }}">管理所有成員</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin.team.create') }}">新增團隊</a>
                    <a class="dropdown-item" href="{{ path('admin.team.list') }}">管理團隊</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    網站設定
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.banner.add') }}">新增Banner</a>
                    <a class="dropdown-item" href="{{ path('admin.banner.list') }}">管理所有Banner</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("front.index") }}">前台首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("logout") }}">登出</a>
            </li>
        </ul>
    </div>
</nav>