{% extends "front/base.html.twig" %}

{% block body %}
    <ul class="page-breadcrumb">
        <li><a href="{{ path("front.course.bachelor.attention") }}">選課注意事項</a></li>
        <li><a href="{{ path("front.course.bachelor.architecture") }}">課程架構</a></li>
        <li><a href="{{ path("front.course.bachelor.graduate.condition") }}">畢業條件</a></li>
        <li><a href="{{ path("front.course.bachelor.content") }}">年度課程內容</a></li>
        <li><a href="{{ path("front.course.bachelor.description") }}">課程內容概述</a></li>
    </ul>
    {% if page is not null %}
        <div class="primary">
            <div class="information">
                <h5 class="title">{{ page.getName() }}</h5>
            </div>

            <div class="article">
                {{ page.getContent() | raw }}
            </div>

            <div class="attached">
                <p>附加檔案</p>
                <ul>
                    {% for attachment in page.getAttachments() %}
                        <li>
                            <a href="{{ path("file.get", {"id": attachment.getId()}) }}">
                                <i class="far fa-file-word"></i>
                                {{ attachment.getOriginName() }}
                                (<a href="{{ path("file.get", {"id": attachment.getId(), "action": "view"}) }}" target="_blank">
                                    預覽
                                </a>)
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="last-modify">最後修改日期：{{ page.getUpdateTime().format("Y-m-d H:i:s") }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}