{% extends "front/base.html.twig" %}

{% block body %}
    <ul class="page-breadcrumb">
        <li><a href="{{ path('front.index') }}">首頁</a></li>
        <li><a href="">{{ page.getName() }}</a></li>
    </ul>
    {% if page is not null %}
        <div class="primary">
            <h4 class="page-subtitle">選課注意事項</h4>
            <div class="article">
                {{ page.getContent() | raw }}
            </div>

            <h4 class="page-subtitle">課程架構</h4>
            <div class="download">
                <ul class="no-title">
                    <ul>
                        {% if fileArchives["student-bachelor-course-architecture"] is not null %}
                            {% for file in fileArchives["student-bachelor-course-architecture"].getFiles() %}
                                <li>
                                    <a href="{{ path("file.get", {"id": file.getId()}) }}">{{ file.getTitle() }}</a>
                                    (
                                    <a target="_blank" href="{{ path("file.get", {'id': file.getId(), 'action': "view"}) }}">
                                        預覽
                                    </a>
                                    )
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </ul>
            </div>

            <h4 class="page-subtitle">畢業條件</h4>
            <div class="article">
                {{  page.getContent() | raw }}
            </div>

            <h4 class="page-subtitle">年度課程內容</h4>
            <div class="article">
                {{  page.getContent() | raw }}
            </div>

            <h4 class="page-subtitle">課程內容概述</h4>
            <div class="article">
                {{  page.getContent() | raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}