{% extends "front/base.html.twig" %}

{% block body %}
    <ul class="page-breadcrumb">
        <li><a href="{{ path("front.index") }}">首頁</a></li>
        <li><a href="">法規表單</a></li>
    </ul>

    <div class="primary">
        <h4 class="page-subtitle">獎學金</h4>
        <div class="download">
            <ul class="no-title">
                {% if fileArchives["student-scholarship"] is not null %}
                    {% for file in fileArchives["student-scholarship"].getFiles() %}
                        <li>
                            <a href="{{ path("file.get", {"id": file.getId()}) }}">{{ file.getTitle() }}</a>
                            (
                            <a target="_blank" href="{{ path("file.get", {'id': file.getId(), 'action': "view"}) }}">
                                預覽
                            </a>
                            )
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <h4 class="page-subtitle">課程架構表</h4>
        <div class="download">
            <ul class="no-title">
                <li>學士班
                    <ul>
                        {% if fileArchives["student-bachelor-course-architecture"] is not null %}
                            {% for file in fileArchives["student-bachelor-course-architecture"].getFiles() %}
                                <li>
                                    <a href="{{ path("file.get", {"id": file.getId()}) }}">{{ file.getTitle() }}</a>
                                    (
                                    <a target="_blank" href="{{ path("file.get", {'id': file.getId(), 'action': "view"}) }}">
                                        預覽
                                    </a>
                                    )
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                <li>碩士班
                    <ul>
                        {% if fileArchives["student-master-course-architecture"] is not null %}
                            {% for file in fileArchives["student-master-course-architecture"].getFiles() %}
                                <li>
                                    <a href="{{ path("file.get", {"id": file.getId()}) }}">{{ file.getTitle() }}</a>
                                    (
                                    <a target="_blank" href="{{ path("file.get", {'id': file.getId(), 'action': "view"}) }}">
                                        預覽
                                    </a>
                                    )
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <h4 class="page-subtitle">轉系</h4>
        <div class="download">
            <ul class="no-title">
                {% if fileArchives["student-migration"] is not null %}
                    {% for file in fileArchives["student-migration"].getFiles() %}
                        <li>
                            <a href="{{ path("file.get", {"id": file.getId()}) }}">{{ file.getTitle() }}</a>
                            (
                            <a target="_blank" href="{{ path("file.get", {'id': file.getId(), 'action': "view"}) }}">
                                預覽
                            </a>
                            )
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <h4 class="page-subtitle">學士專題</h4>
        <div class="download">
            <ul class="no-title">
                {% if fileArchives["student-bachelor-project"] is not null %}
                    {% for file in fileArchives["student-bachelor-project"].getFiles() %}
                        <li>
                            <a href="{{ path("file.get", {"id": file.getId()}) }}">{{ file.getTitle() }}</a>
                            (
                            <a target="_blank" href="{{ path("file.get", {'id': file.getId(), 'action': "view"}) }}">
                                預覽
                            </a>
                            )
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <h4 class="page-subtitle">碩士論文</h4>
        <div class="download">
            <ul class="no-title">
                {% if fileArchives["student-master-project"] is not null %}
                    {% for file in fileArchives["student-master-project"].getFiles() %}
                        <li>
                            <a href="{{ path("file.get", {"id": file.getId()}) }}">{{ file.getTitle() }}</a>
                            (
                            <a target="_blank" href="{{ path("file.get", {'id': file.getId(), 'action': "view"}) }}">
                                預覽
                            </a>
                            )
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}