{% extends "front/base.html.twig" %}

{% block body %}
    <!-- Enrollment -->
    <div class="row">

        <div class="col-3">

            <!-- Enrollment Submenu -->
            <ul class="list-group shadow">
                <li class="list-group-item list-group-item-calm">招生訊息分類</li>
                <!-- A Link -->
                <li class="list-group-item nav-item">
                    <a class="nav-link" href="{{ path("front.enrollment.bachelor") }}">學士班</a>
                </li>
                <!-- /.A Link -->
                <li class="list-group-item nav-item">
                    <a class="nav-link" href="{{ path("front.enrollment.master") }}">碩士班</a>
                </li>
                <li class="list-group-item nav-item">
                    <a class="nav-link" href="{{ path("front.enrollment.china") }}">中國學生</a>
                </li>
                <li class="list-group-item nav-item">
                    <a class="nav-link" href="{{ path("front.enrollment.international") }}">國際交換生</a>
                </li>
                <li class="list-group-item nav-item">
                    <a class="nav-link" href="{{ path("front.enrollment.faq") }}">常見問題</a>
                </li>

            </ul>
            <!-- /.Enrollment Link Nav -->
        </div>

        <div class="col-9">

            <!-- Page Title -->
            <h5>招生資訊</h5>
            <!-- /.Page Title -->

            <!-- Switch Content -->
            {% if category is not null %}
            <div class="tab-content">
                <!-- A Content -->
                <div class="tab-pane active" id="enrollment-1" role="tabpanel">
                    <!-- Article -->
                    <!-- subTitle -->
                    <div class="alert alert-dark" role="alert">
                        {{ category.getName() }}
                    </div>
                    <!-- /.subTitle -->
                    <div alt="article-area">
                        <p>
                            <!-- News Table -->
                        <div class="col-12" id="news">
                            <table class="table table-striped">
                                <thead class="thead-gray">
                                <tr>
                                    <th scope="col">公告日期</th>
                                    <th scope="col">標題</th>
                                </tr>
                                </thead>
                                <tbody>

                                <!-- Row List -->
                                {% for post in category.getPosts() %}
                                    <tr>
                                        <td scope="row">{{ post.getCreateTime().format("Y-m-d") }}</td>
                                        <th>
                                            <a href="#">
                                                {{ post.getName() }}
                                            </a>
                                        </th>
                                    </tr>
                                {% endfor %}
                                {% if category.getPosts() | length == 0 %}
                                    <tr>
                                        <td colspan="2">還沒有任何公告</td>
                                    </tr>
                                {% endif %}
                                <!-- /.Row List -->

                                </tbody>
                            </table>
                        </div>
                        <!--<div class="col-12">
                            <nav aria-label="News Table navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>-->
                        <!-- /.News Table -->
                        </p>
                    </div>
                    <!-- /.Article -->
                </div>
            </div>
            {% endif %}
            <!-- /.Switch Content -->



        </div>

    </div>
    <!-- /.Enrollment -->
{% endblock %}