{% extends "front/base.html.twig" %}

{% block body %}
    <ul class="page-breadcrumb">
        <li>首頁</li>
    </ul>

    <div class="primary">
        <ul class="newslist">
            {% for post in posts %}
            <li>
                <a href="">
                    {% set hasIcon = false %}
                    {% for c in post.getCategories() if not hasIcon %}
                        {% if c.getAlias() == 'activities' %}
                            <img src="{{ asset('assets/images/news-type-icon/news-classification_01.jpg') }}"/>
                            {% set hasIcon = true %}
                        {% elseif c.getAlias() == 'hiring' %}
                            <img src="{{ asset('assets/images/news-type-icon/news-classification_02.jpg') }}"/>
                            {% set hasIcon = true %}
                        {% elseif c.getAlias() == 'enrollment' %}
                            <img src="{{ asset('assets/images/news-type-icon/news-classification_03.jpg') }}"/>
                            {% set hasIcon = true %}
                        {% elseif c.getAlias() == 'scholarship' %}
                            <img src="{{ asset('assets/images/news-type-icon/news-classification_04.jpg') }}"/>
                            {% set hasIcon = true %}
                        {% else %}
                            <img src="{{ asset('assets/images/news-type-icon/news-classification_06.jpg') }}"/>
                            {% set hasIcon = true %}
                        {% endif %}
                    {% endfor %}
                    <h4>{{ post.getName() }}</h4>
                    <span>{{ post.getCreateTime().format("Y-m-d") }}</span>
                    <p class="description">
                        {{ post.getContent() | striptags|length > 100 ?
                            post.getContent()|striptags|slice(0, 100) ~ '...' : post.getContent()|striptags }}
                    </p>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="readmore">
            <a href="to newsPage" class="gbtn">閱讀更多</a>
        </div>
    </div>
{% endblock %}