{% extends "front/base.html.twig" %}

{% block body %}
    <ul class="page-breadcrumb">
        <li><a href="{{ path("front.index") }}">首頁</a></li>
        <li><a href="#">系所師資</a></li>
    </ul>
    <div class="primary">

        <h4 class="page-subtitle">專任師資</h4>

        <!-- card -->
        {% for member in members %}
        <div class="profile-card">
            {% if member.getAvatar() is not null %}
                <div class="card-pic">
                    <img class="card-img-top" src="/uploaded/{{ member.getAvatar().getFullPath() }}" alt="{{ member.getName() }}個人照片">
                </div>
            {% endif %}
            <div class="card-mail">
                <div class="icon"><a href="mailto:{{ member.getEmail() }}"><i class="fas fa-envelope fa-2x"></i></a></div>
            </div>
            <div class="card-body">
                <h5 class="text-center"><a href="{{ member.getWebsite() }}" class="slash">{{ member.getName() }}</a>{{ member.getTitle() }}</h5>
                {% if member.getOfficeNumber() is not null %}
                    <p class="text-center">
                        <a href="tel:{{ member.getOfficeNumber() }}">
                        {{ member.getOfficeNumber() }}
                        </a>
                    </p>
                {% endif %}
                {% if member.getCellphone() is not null %}
                    <p class="text-center">
                        <a href="tel:{{ member.getCellphone() }}">
                        {{ member.getCellphone() }}
                        </a>
                    </p>
                {% endif %}
                <p class="text-center">{{ member.getMajor() }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}