<!-- Navbar -->

<!-- Big Brand -->
<div class="jumbotron-brand jumbotron-fluid">

    <!-- top nav -->
    <div class="float-right">
        <a href="{{ path("front.index") }}">回首頁 </a>|
        <a href="#">交通資訊 </a>|
        <a href="#">本系位置圖 </a>|
        <a href="#">聯絡我們 </a>|
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path("admin.index") }}">管理介面</a>
        {% else %}
            <a href="{{ path("login") }}">登入</a>
        {% endif %}
    </div>
    <!-- /. top nav -->

    <div class="container">
        <h1 class="text-hide" style="background-image: url('https://assets.burberry.com/is/image/Burberryltd/5ccadf824b117105b0fdc6436eeee73be375fb22.jpg'); width: 50px; height: 50px;">logo</h1>
        <h1>國立臺中教育大學 資訊工程學系</h1>
        <p class="lead">誠摯歡迎你加入溫暖的大家庭</p>
    </div>
    <!-- underside Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path("front.index") }}">NTCU CSIE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("front.news.category.activities") }}" id="navbarNews">
                        系所公告
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("front.introduce.history") }}" id="navbarIntroduce">
                        系所簡介
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("front.course") }}" id="navbarCourse">
                        課程資訊
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("front.enrollment.bachelor") }}" id="navbarEnrollment">
                        招生資訊
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("front.download") }}" id="navbarDownload">
                        法令/表單
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="{{ path("front.student.info") }}" id="navbarStudent">
                        學生資訊
                    </a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("front.network.resource") }}" id="navbarResource">
                        網路資源
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.ntcu.edu.tw/cs/2012/ieet.html" target="_blank">
                        IEET
                    </a>
                </li>
            </ul>
        </div><!--.collapse navbar-collapse-->
    </nav>
    <!-- underside Navbar -->
</div>
<!-- /.Big Brand -->

<!-- /.Navbar -->