{% extends "front/base.html.twig" %}

{% block body %}
    <ul class="page-breadcrumb">
        <li><a href="{{ path("front.index") }}">首頁</a></li>
        <li><a href="">最新消息</a></li>
        <li>系所公告</li>
    </ul>

    <div class="primary">
        <div class="news-table">

            <table class="table">
                <tbody>
                <tr>
                    <th width="15%">公告日期</th>
                    <th>標題</th>
                </tr>
                {% if category is defined %}
                    <!-- Row List -->
                    {% for post in category.getPosts() %}
                        <tr>
                            <td class="date">{{ post.getCreateTime().format("Y-m-d") }}</td>
                            <td class="title">
                                <a href="{{ path("front.post.show", {"id": post.getId()}) }}">
                                    {{ post.getName() | e('html') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if category.getPosts() | length == 0 %}
                        <tr>
                            <td colspan="2">還沒有任何公告</td>
                        </tr>
                    {% endif %}
                    <!-- /.Row List -->
                {% else %}
                    <!-- Row List -->
                    {% for post in posts %}
                        <tr>
                            <td class="date">{{ post.getCreateTime().format("Y-m-d") }}</td>
                            <td class="title">
                                <a href="{{ path("front.post.show", {"id": post.getId()}) }}">
                                    {{ post.getName() }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if posts | length == 0 %}
                        <tr>
                            <td colspan="2">還沒有任何公告</td>
                        </tr>
                    {% endif %}
                    <!-- /.Row List -->
                {% endif %}
                </tbody>
            </table>

        </div>

        <!--<div class="pagination float-center">
            <a href="#">&laquo;</a>
            <a href="#">&lt;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&gt;</a>
            <a href="#">&raquo;</a>
        </div>-->

    </div>
{% endblock %}