{% extends "front/base.html.twig" %}

{% block body %}
    {% if page is not null %}
        <ul class="page-breadcrumb">
            <li><a href="{{ path('front.index') }}">首頁</a></li>
            <li><a href="">{{ page.getName() }}</a></li>
        </ul>
        <div class="primary">
            <h4 class="page-subtitle">{{ page.getName() }}</h4>





            {% if category.getAlbum() | length == 0 %}
                <tr>
                    <td>還沒有任何相簿</td>
                </tr>
            {% endif %}
            <div class="gallery">
                {% for album in albums %}
                    {% if album is odd %}
                        <div class="holder right">
                            <div class="content">
                                <h5 class="date">{{ album.getCreatTime() }}</h5>
                                <p class="description">{{ album.getDescription() }}</p>
                                <div class="cursor " onclick="openWindow();">
                                    <div class="album-cover">
                                        <img src="{{ album.getCover() }}"/>
                                        {% if album.length() > 1 %}
                                        <div class="multipleImage">
                                            <span><i class="fa fa-clone"></i></span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="holder left">
                            <div class="content">
                                <h5 class="date">{{ album.getCreatTime() }}</h5>
                                <p class="description">{{ album.getDescription() }}</p>
                                <div class="cursor " onclick="openWindow();">
                                    <div class="album-cover">
                                        <img src="{{ album.getCover() }}"/>
                                        {% if album.length() > 1 %}
                                            <div class="multipleImage">
                                                <span><i class="fa fa-clone"></i></span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!--not show in the html-->
            <div id="window" class="window window-bg">
                <div class="AlbumSlideArrow">
                    <div class="Area">
                        <div class="Arrow">
                            <a id="prev-album" class="prev-album" href="{{ path("album.get", {"id": album.getNextId()}) }}" role="button"><i class="iarrow arrow-left"></i></a>
                            <a class="next-album" href="{{ path("album.get", {"id": album.getPrevId()}) }}" role="button"><i class="iarrow arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="windowContent">
                    <div class="content-image">
                        <div>
                            <div class="imageInAlbum">
                                <img src="/uploaded/album/{{ album.getName() }}/{{ image.getImage().getFullPath() }}" alt="{{ image.getName() }}"/>
                            </div>
                            <div class="album-description">{{ album.getName() }}</div>
                            <div class="image-description">{{ image.getName() }}</div>
                            <a class="prev-image" href="{{ path("album.get", {"id": album.getNextId()}) }}" role="button"><i class="fa fa-chevron-circle-left"></i></a>
                            <a class="next-image" href="{{ path("album.get", {"id": album.getPrevId()}) }}" role="button"><i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <button class="close cursor" onclick="closeWindow()">關閉</button>
            </div>

            <script>
            function openWindow() {
                document.getElementById('window').style.display = "block";
            }
            function closeWindow() {
                document.getElementById('window').style.display = "none";
            }
            </script>

    {% endif %}
{% endblock %}