<div class="header">
    <div class="wrap">

        <a href="{{ path("front.index") }}"><img src="{{ asset("assets/images/mainpage_02.jpg") }}"/></a>

        <div class="top-nav">
            <a href="http://www.ntcu.edu.tw/newweb/index.htm" TARGET="_blank" class="school">學校首頁</a>
            <a href="{{ path("front.index") }}">回首頁</a>
            <a href="{{ path("admin.index") }}">
                {% if is_granted('ROLE_ADMIN') %}
                    後台管理
                {% else %}
                    登入
                {% endif %}
            </a>
            <a target="_blank" href="http://home.ntcu.edu.tw/CS/intro/super_pages.php?ID=intro1">英文版</a>
        </div>

        <div class="nav-justify">
            <nav class="main-nav">
                <ul>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle" data-target="#subMenu1">最新消息</div>
                            <div class="submenu" id="subMenu1">
                                <a href="{{ path("front.news") }}">系所公告</a>
                                <a href="{{ path("front.news.category.activities") }}">活動演講</a>
                                <a href="{{ path("front.news.category.hiring") }}">徵才訊息</a>
                                <a href="{{ path("front.news.category.enrollment") }}">招生訊息</a>
                                <a href="{{ path("front.news.category.scholarship") }}">獎學金公告</a>
                                <a href="{{ path("front.news.category.other") }}">其他訊息</a>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle" data-target="#subMenu2">系所簡介</div>
                            <div class="submenu" id="subMenu2">
                                <a href="{{ path("front.introduce.history") }}">系所簡介</a>
                                <a href="{{ path("front.introduce.education.achievements") }}">教育目標</a>
                                <a href="{{ path("front.introduce.core.abilities") }}">核心能力</a>
                                <a href="{{ path("front.introduce.location") }}">系所位置</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle" data-target="#subMenu3">系所成員</div>
                            <div class="submenu" id="subMenu3">
                                <a href="{{ path('front.introduce.member') }}">師資</a>
                                <a href="{{ path('front.introduce.officer') }}">行政人員</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle" data-target="#subMenu4">課程資訊</div>
                            <div class="submenu" id="subMenu4">
                                <a href="{{ path('front.course.bachelor.enrollment.rule') }}">大學部</a>
                                <a href="{{ path('front.course.master.enrollment.rule') }}">碩士班</a>
                                <a href="{{ path("front.course.dual.education") }}">雙聯學制</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle" data-target="#subMenu5">招生資訊</div>
                            <div  class="submenu" id="subMenu5">
                                <a href="{{ path("front.enrollment.bachelor") }}">學士班</a>
                                <a href="{{ path("front.enrollment.master") }}">碩士班</a>
                                <a href="{{ path("front.enrollment.china") }}">大陸地區學生</a>
                                <a href="{{ path("front.enrollment.international") }}">國際交換生</a>
                                <a href="{{ path("front.enrollment.faq") }}">常見問題</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle" data-target="#subMenu6">學術研究</div>
                            <div class="submenu" id="subMenu6">
                                <a href="{{ path("front.introduce.lab", {"labname": "computer-system"}) }}">計算機系統實驗室</a>
                                <a href="{{ path("front.introduce.lab", {"labname": "software-engineering"}) }}">軟體工程實驗室</a>
                                <a href="{{ path("front.introduce.lab", {"labname": "network-and-communication"}) }}">網路與通訊實驗室</a>
                                <a href="{{ path("front.introduce.lab", {"labname": "information-security"}) }}">資訊安全實驗室</a>
                                <a href="{{ path("front.introduce.lab", {"labname": "smart-iot"}) }}">智慧物聯網實驗室</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle" data-target="#subMenu7">學生資訊</div>
                            <div class="submenu" id="subMenu7">
                                <a href="{{ path('front.leader.student.association') }}">系學會</a>
                                <a href="{{ path('front.leader.graduate.association') }}">系友會</a>
                                <a href="{{ path('front.album') }}">活動花絮</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle"><a href="{{ path('front.download') }}">法規表單</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle"><a href="{{ path("front.network.resource") }}">相關連結</a></div>
                        </div>

                    </li>
                    <li>
                        <div class="nav-item">
                            <div class="submenu-toggle"><a href="http://www.ntcu.edu.tw/cs/2012/ieet.html" target="_blank">IEET</a></div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="menu-toggle">
            <div class="hamburger"></div>
        </div>

    </div>

</div><!--./header-->

<script>

    $(document).ready(function () {

        $(".menu-toggle").click(
            function () {

                $('.main-nav').toggleClass('main-nav--open',500);
                $(this).toggleClass('open');

            }
        );

        $("[data-target]").click(
            function() {
                var target = $(this).data('target');
                $(target).toggleClass('submenu--open', 500);
                $(this).toggleClass('open');
            }
        );


    });



</script>
